# To run this frontend connected to a remote API server:
# Set this to your WSS URL.
# If left empty, it will default to connecting to the same server that serves the frontend.

# VITE_WS_URL=wss://movie-api.example.com/ws
